# Composer
/vendor/
composer.lock
composer.phar

# PHPUnit
/coverage-report/
.phpunit.result.cache

# Environment files
.env

# Installer files
composer-setup.php

# Log files
*.log
logs/

# Temporary files
*.tmp
temp/
tmp/
